<div class="content">
    <h2>All created meal packages:</h2>

    {{#if found}}
        <div class="grid-container_meals">
            {{#each data}}
            <div class="meals">
                <img src="/img/{{this.img}}"> <br><br>
                <span id="title"><b>Title :</b> {{this.title}}<br></span>
                <span id="category"><b>Category :</b> {{this.cat}}<br></span>
                <span id="description"><b>{{this.desc}}</b><br></span>
                <span id="nmeals"><b>Number of meals inside:</b> {{this.nmeals}}<br></span>
                <span id="price"><b>Price : {{this.price}}</b><br></span>
            </div>
            {{/each}}
        </div>
    {{else}}
        <h3>There are currently no meals.</h3>
    {{/if}}
     
    <br><br>
    <button onclick="location.href='/Dashboard/Clerk'" type="button">Go back to the dashboard</button>
</div>