<form class="modal-content" action="/Registration" method="POST">
    <div class="container">
        <label for="fname"><b>First Name</b></label>
        <input type="text" placeholder="Enter First Name" name="fname" value="{{formD.fnameholder}}">

        <div class="errors">{{fnameError}}</div>

        <label for="lname"><b>Last Name</b></label>
        <input type="text" placeholder="Enter Last Name" name="lname" value="{{formD.lnameholder}}">

        <div class="errors">{{lnameError}}</div>

        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" value="{{formD.emailholder}}">

        <div class="errors">{{emailError}}</div>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" value="{{formD.pswholder}}">

        <div class="errors">{{passwordError}}</div>

        <div class="errors"></div>

        <button type="submit">Sign Up</button>

    </div>
</form>